<h2>This is where I would put a short bio about myself!</h2>
<br>
<br>
<p> My name is Jordan Worthen and I am from Kuna, Idaho. I am currently persuing my masters degree at Utah State University in Data Analytics.
In December of 2021 I received my bachelors degree in Management Information Systems. When I started college I did not even know what management information systems was,
but now I really enjoy it. I love how powerful data can be in a business and in day-to-day life. This is why I have stayed on this path.
<br>
My favorite hobby is sports. I enjoy watching or playing anytype of sport. This hobby also has ways you can use data so I have really enjoyed everything I have learned
and applied to this hobby. When I watch sports now I love to look at all of the different stats of the game and understand why the outcome happened for each team. I hope this short bio 
has helped you get to know me a little bit more!
</p>