<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Jonathan Doe | Web Designer, Director | name@yourdomain.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Jordan Worthen</h1>
					<h2>Masters Student</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:name@yourdomain.com">jcworthen9@gmail.com</a></h3>
						<h3>(208) 123-4567/h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Python</li>
								<li>SQL</li>
								<li class="last">Power BI</li>
							</ul>

							<ul class="talent">
								<li>Excel</li>
								<li>R</li>
								<li class="last">Tableau</li>
							</ul>

							<ul class="talent">
								<li>Linux</li>
								<li>AWS</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
<br>
<br>
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Utah State University, Jon M. Huntsman School of Business</h2>
								<h3>Data Analytics Teaching Fellow</h3>
								<h4>2022-Present</h4>
								<p>•	Lead 2 weekly recitation classes focused on helping students improve their understanding of statistical concepts
•	Help assist in office hours twice a week to answer questions and prepare students for homework’s and quizzes
 </p>
							</div>
<br>
							<div class="job">
								<h2>Chartway Credit Union</h2>
								<h3>Retail - Data Analytics Intern</h3>
								<h4>2022-2022</h4>
								<p>•	Created 2 separate Power BI projects focused on direct auto loans and loan protection which will be used by managers in all branches.  Sharpen it up, talk about increasing performance
•	Condensed 3 different data sources into 1 Power BI project that will be used in weekly retail operations meetings
•	Calculated 50+ custom measures to help these reports function with no additional maintenance required
</p>
							</div>
<br>
							<div class="job">
								<h2>Space Dynamics Laboratory</h2>
								<h3>Web Development/Analytics Assistant</h3>
								<h4>2021-2022</h4>
								<p>•	Assisted in creating an automated workflow that shortened a department’s process from 1 week to 1-2 days
•	Transitioned multiple departments to paperless workflows which increased completion and communication daily
</p>
							</div>
<br>

							<div class="job last">
								<h2>Space Dynamics Laboratory</h2>
								<h3>Computer Systems Support Assistant</h3>
								<h4>2020-2021</h4>
								<p>•	Help install and troubleshoot Linux and MacOS operating systems, so they function properly for users and meet company/government compliance
•	 Solve complex issues with computer systems in a timely manner for other individuals in the organization
</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
<br>
<br>
					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Utah State University, Logan UT</h2>
							<h3>Management Information Systems &mdash; <strong>3.7 GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Jordan Worthen &mdash; <a href="mailto:name@yourdomain.com">jcworthen9@gmail.com</a> &mdash; (208) 1123-4567</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

